openapi: 3.1.0
info:
  title: Davinci Public API
  version: 2.0.0
  description: |
    Public Routing Server API contract for Davinci integrations and official SDKs.

    Most operations live on the canonical `/api/v2/projects` mount and accept a
    personal access token (`dav_ak_live_…` / `dav_ak_test_…`) or browser access
    token. Evaluation-run creation is the deliberate exception: it accepts only a
    `purpose=automation` grant issued to a running Code execution.
    Project membership and role are checked on every user call, and an API key is
    additionally bounded by the permission ceiling derived from its scopes — a key
    can never exceed what its owner can do, and usually does less.

    Collaboration operations (invitations, membership changes, ownership transfer)
    are deliberately absent: they require a browser session and are not part of the
    programmatic surface.

    ## Two planes

    Most operations are **control plane**: they run on the Routing Server, take
    small requests, and answer quickly. A few are **data plane**, marked
    `x-plane: data`, and go straight to the machine holding your project — the only
    practical way to move multi-gigabyte files or hold a connection open for half
    an hour.

    Data-plane operations use a different host and a different credential. Create a
    session on a project and it returns both: a `dataPlane.url` to send to and a
    short-lived `dataPlane.token` (`dav_gr_…`, a *grant*) to send with. A grant
    reaches exactly one project, carries no more permission than the key that
    minted it, expires in minutes, and dies when its session closes. It is not
    interchangeable with an API key in either direction.

    The data-plane host never names a specific machine, so a project that moves
    between machines mid-session stays reachable at the same URL.
servers:
  - url: https://davinci-app.com
    description: Production (control plane)
  - url: https://davinci-app.com/data
    description: >-
      Production (data plane). Serves the operations marked `x-plane: data`, using a
      session's grant rather than an API key.
tags:
  - name: Projects
    description: Create, inspect, open, close, and delete projects, and manage their attached files.
  - name: Content
    description: |
      Read and write the objects a project is made of. These reach the running
      project rather than storage, so they see uncommitted work — and so they open
      the project if it is not already open.
  - name: Branches
    description: |
      Branches, commits, and the history of a single object. A commit captures the
      running project's state, so these operations need the branch loaded, which they
      arrange for the caller.
  - name: Sessions
    description: |
      A session opens a project, holds it open, and issues the grant that reaches the
      data plane. It is the programmatic equivalent of having a project open in a
      browser tab: while it lives, the project stays loaded.

      It is also where the agent lives. Send it a prompt, read its status from the
      session, read the transcript back, and stop a run that is going the wrong way.
  - name: AgentModels
    description: |
      Chat models available to your account. The returned keys are the values accepted
      by the session message API; availability follows your subscription, tenant, and
      any profile assigned to your account.
  - name: Tools
    description: |
      Invoke one of the agent's tools yourself, without the agent. Useful when you
      already know the operation you want and do not need a model to choose it — and
      when you want a deterministic result rather than an interpreted one.

      A tool is still held to the permissions of the credential invoking it, so a
      key cannot reach through a tool to something its scopes exclude.
  - name: Files
    description: |
      Data-plane file transfer. These reach your project's machine directly using a
      session's grant, which is what allows request bodies far larger than the
      control plane accepts.
  - name: Usage
    description: |
      What your models cost, broken down by model, project, session, or day. These
      read the usage ledger, which records one event per completed provider call —
      not your credit balance, which is `/api/v2/billing`.

      Usage is reported on an interval rather than per call, so a run that is still
      going may not be fully counted yet. Every response carries `asOf`, the moment
      the newest counted event was recorded, so you can see how current a total is
      instead of guessing.

      This is separate from `projects:read` on purpose: a key that reads your
      project data is not thereby allowed to see what you spend.
  - name: Evaluations
    description: |
      Lifecycle for the ephemeral target sandbox an evaluation runs against.
      Creation is available only to a `purpose=automation` grant issued to a
      running Code execution, so a sandbox always belongs to code rather than to
      a person's key. It returns a second, `purpose=evaluation` grant bound to
      the new sandbox; it never upgrades or replaces the source credential.
  - name: Tests
    description: |
      Asynchronously run an authored Test. The Test executes its linked Code
      object and applies its native evaluation criteria to derive the verdict.
      This is one way to start Code, not a prerequisite for anything the Code can
      do: the same function called directly holds the same authority.
security:
  - ApiKeyBearer: []
paths:
  /api/v2/agent/models:
    get:
      operationId: listAgentModels
      tags: [AgentModels]
      summary: List available agent models
      description: |
        Returns the chat models available through the calling account's effective LLM
        profile. Pass a model's `key` as `model` when sending an agent message, and
        use its `options` definitions to build `modelOptions`.

        The list can differ between accounts because subscription tier, tenant policy,
        and an account-specific profile can all affect it. Omitting `model` from a
        message uses `defaultModel`.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/agent/agent.routes.js
      x-required-scopes: [agent:message]
      x-sdk-methods:
        typescript: client.agentModels.list
        python: client.agent_models.list
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            const available = await client.agentModels.list();
            console.log('Default:', available.defaultModel);
            for (const model of available.models) {
              console.log(model.key, model.name);
              console.log(model.options);
            }
        - lang: python
          label: Python SDK
          source: |
            available = client.agent_models.list()
            print("Default:", available.default_model)
            for model in available.models:
                print(model.key, model.name)
                print(model.options)
      responses:
        '200':
          description: Models available to the calling account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentModelsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InsufficientScopes'
        '409':
          description: The account has no usable published LLM profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v2/projects:
    get:
      operationId: listProjects
      tags: [Projects]
      summary: List accessible projects
      description: |
        Returns the caller's projects split into `owned` and `shared`. Each entry
        carries git branch state and an `inUse` flag indicating whether the project
        currently has a running Design Engine instance.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.projects.list
        python: client.projects.list
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { owned, shared } = await client.projects.list();
            for (const project of [...owned, ...shared]) {
              console.log(project.id, project.name, project.inUse);
            }
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.projects.list()
                for project in [*result.owned, *result.shared]:
                    print(project.id, project.name, project.in_use)
      responses:
        '200':
          description: The caller's owned and shared projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InsufficientScopes'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createProject
      tags: [Projects]
      summary: Create a project
      description: |
        Creates a project owned by the caller, or by `orgId` when supplied. Either
        `name` or `initialPrompt` is required. When `autoName` is set with an
        `initialPrompt`, the name is derived from the prompt.

        Send an `Idempotency-Key` header to make a retry safe. Creating a project
        writes a repository and an initial commit, and a duplicate is not reclaimed,
        so a request that times out after the server completed it would otherwise
        leave you choosing between a leaked project and a lost one. A repeat of the
        same key returns the project the first call created, with the same `201`.
      security:
        - ApiKeyBearer: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:manage]
      x-sdk-methods:
        typescript: client.projects.create
        python: client.projects.create
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const project = await client.projects.create({ name: 'Spacecraft' });
            console.log(project.id);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                project = client.projects.create(name="Spacecraft")
                print(project.id)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            Scope missing, project limit reached (`PROJECT_LIMIT_REACHED`), or no
            permission to create in the requested organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            The Idempotency-Key is currently initializing a project, was reused
            with different create settings, or points to a result that is no
            longer available. Error code is `PROJECT_CREATE_IN_PROGRESS`,
            `IDEMPOTENCY_KEY_REUSED`, or `IDEMPOTENCY_RESULT_UNAVAILABLE`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v2/projects/{projectId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      operationId: getProject
      tags: [Projects]
      summary: Get project metadata
      description: |
        Returns the project's stored metadata, including its owner, visibility,
        version, storage footprint, and effective collaborators.

        Use the permissions endpoint when you need to know what this credential may
        do with the project; those are reported separately because they are derived
        per credential rather than stored on the project.
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.projects.get
        python: client.projects.get
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { metadata } = await client.projects.get(projectId);
            console.log(metadata.name, metadata.visibility);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.projects.get(project_id)
                print(result.metadata.name, result.metadata.visibility)
      responses:
        '200':
          description: Project metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InsufficientScopes'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    patch:
      operationId: updateProject
      tags: [Projects]
      summary: Update project metadata
      description: Updates any subset of name, description, visibility, readme, tags, or units.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:manage]
      x-sdk-methods:
        typescript: client.projects.update
        python: client.projects.update
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { metadata } = await client.projects.update(projectId, {
              description: 'Launch vehicle upper stage',
            });
            console.log(metadata.description);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.projects.update(
                    project_id, description="Launch vehicle upper stage"
                )
                print(result.metadata.description)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Updated project metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteProject
      tags: [Projects]
      summary: Delete a project
      description: |
        Soft-deletes the project. Storage is released from the owner's balance and
        the project becomes invisible to normal reads; a system administrator can
        restore it for a retention window.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:manage]
      x-sdk-methods:
        typescript: client.projects.delete
        python: client.projects.delete
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            await client.projects.delete(projectId);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                client.projects.delete(project_id)
      responses:
        '204':
          description: Project deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v2/projects/{projectId}/open:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      operationId: openProject
      tags: [Projects]
      summary: Open a project
      description: |
        Loads the project onto a Design Engine replica, or returns the already-running
        instance. `alreadyLoaded` distinguishes the two.

        API-key callers receive lifecycle confirmation only. The `url` and
        `serverToken` fields that a browser receives are omitted, because
        `serverToken` is minted per project rather than per user and would let its
        holder act as any collaborator. Programmatic access to live project data will
        use short-lived project-scoped grants instead.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:write]
      x-sdk-methods:
        typescript: client.projects.open
        python: client.projects.open
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const opened = await client.projects.open(projectId, { branch: 'main' });
            console.log(opened.branchName, opened.alreadyLoaded);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                opened = client.projects.open(project_id, branch="main")
                print(opened.branch_name, opened.already_loaded)
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenProjectRequest'
      responses:
        '200':
          description: Project is loaded and ready.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          description: |
            No Design Engine replica could take the project. Common codes are
            `PROJECT_SERVER_UNAVAILABLE` and `SERVICE_UNAVAILABLE`. Safe to retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v2/projects/{projectId}/close:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      operationId: closeProject
      tags: [Projects]
      summary: Close a project
      description: |
        Saves and unloads the running Design Engine instance. Closing a project that
        is not running succeeds without effect, so this is safe to call
        unconditionally in cleanup paths.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:write]
      x-sdk-methods:
        typescript: client.projects.close
        python: client.projects.close
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            await client.projects.close(projectId);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                client.projects.close(project_id)
      responses:
        '200':
          description: Project closed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v2/projects/{projectId}/branches:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      operationId: listProjectBranches
      tags: [Projects]
      summary: List project branches
      description: Returns the authoritative git branches for the project from storage.
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.projects.listBranches
        python: client.projects.list_branches
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { branches } = await client.projects.listBranches(projectId);
            console.log(branches.map((branch) => branch.name));
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.projects.list_branches(project_id)
                print([branch.name for branch in result.branches])
      responses:
        '200':
          description: Project branches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBranchesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/InsufficientScopes'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      operationId: createBranch
      tags: [Branches]
      summary: Create a branch
      description: |
        Branches from another branch at its latest commit, copying its committed
        content. Uncommitted work on the source is not carried over.

        Branch names are sanitized, so the created name is not always the requested
        one. `branch.name` is what was created and `sanitized` says whether it
        differs.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/projectGit.routes.js
      x-required-scopes: [projects:write]
      x-sdk-methods:
        typescript: client.branches.create
        python: client.branches.create
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { branch } = await client.branches.create(projectId, { name: 'thermal-study' });
            console.log(branch.name);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.branches.create(project_id, name="thermal-study")
                print(result.branch.name)
      parameters:
        - $ref: '#/components/parameters/Branch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBranchRequest'
      responses:
        '201':
          description: Branch created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBranchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            Project not found, or the source branch does not exist. Error code is
            `SOURCE_BRANCH_NOT_FOUND` for the latter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: |
            A branch of that name already exists (`BRANCH_ALREADY_EXISTS`), or the
            project is no longer running (`PROJECT_NOT_RUNNING`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/GitFailed'
        '503':
          $ref: '#/components/responses/ProjectNotReady'
  /api/v2/projects/{projectId}/branches/{branch}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/BranchPath'
    delete:
      operationId: deleteBranch
      tags: [Branches]
      summary: Delete a branch
      description: |
        Deletes a branch and the commits only it holds. There is no undo, which is
        why this asks for `projects:manage` where creating a branch asks for
        `projects:write`.

        Refused with `BRANCH_IN_USE` while anyone is connected to the branch. Pass
        `force=true` to disconnect them instead; their in-memory work is saved to the
        branch first, and then goes with it.

        `main` cannot be deleted.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/projectGit.routes.js
      x-required-scopes: [projects:manage]
      x-sdk-methods:
        typescript: client.branches.delete
        python: client.branches.delete
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            await client.branches.delete(projectId, 'thermal-study');
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                client.branches.delete(project_id, "thermal-study")
      parameters:
        - name: force
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Disconnect anyone using the branch instead of refusing.
      responses:
        '200':
          description: Branch deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBranchResponse'
        '400':
          description: |
            The branch cannot be deleted as asked. Error code is `CANNOT_DELETE_MAIN`,
            `BRANCH_IN_USE`, `BRANCH_NOT_FOUND`, or `UNMERGED_COMMITS`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ProjectNotRunning'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/GitFailed'
        '503':
          $ref: '#/components/responses/ProjectNotReady'
  /api/v2/projects/{projectId}/branches/{branch}/commits:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/BranchPath'
    post:
      operationId: createCommit
      tags: [Branches]
      summary: Commit a branch
      description: |
        Commits everything uncommitted on the branch. There is nothing to stage — the
        working state is the live project, not a checkout, so a commit is all of it or
        nothing.

        Committing requires the branch to be loaded, which this does on the caller's
        behalf. A commit of an untouched branch still produces a revision.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/projectGit.routes.js
      x-required-scopes: [projects:write]
      x-sdk-methods:
        typescript: client.branches.commit
        python: client.branches.commit
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { commit } = await client.branches.commit(projectId, 'main', {
              message: 'Seed requirements',
            });
            console.log(commit.hash);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.branches.commit(project_id, "main", message="Seed requirements")
                print(result.commit.hash)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitRequest'
      responses:
        '201':
          description: Commit created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ProjectNotRunning'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/GitFailed'
        '503':
          $ref: '#/components/responses/ProjectNotReady'
  /api/v2/projects/{projectId}/branches/{branch}/changes:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/BranchPath'
    get:
      operationId: getBranchChanges
      tags: [Branches]
      summary: Read uncommitted changes
      description: |
        Returns which objects on the branch differ from its last commit, as three
        lists of ids plus enough metadata to name the deleted ones.

        Deleted objects come with their name and type because they can no longer be
        read from the project.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/projectGit.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.branches.getChanges
        python: client.branches.get_changes
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const changes = await client.branches.getChanges(projectId, 'main');
            console.log(changes.hasChanges, changes.added.length);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                changes = client.branches.get_changes(project_id, "main")
                print(changes.has_changes, len(changes.added))
      responses:
        '200':
          description: Uncommitted changes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ProjectNotRunning'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/GitFailed'
        '503':
          $ref: '#/components/responses/ProjectNotReady'
  /api/v2/projects/{projectId}/packages:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      operationId: listProjectPackages
      tags: [Projects]
      summary: List public packages
      description: |
        Returns the project's public packages, which are the units another project can
        include by reference.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.projects.listPackages
        python: client.projects.list_packages
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { packages } = await client.projects.listPackages(projectId, { branch: 'main' });
            console.log(packages.length);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.projects.list_packages(project_id, branch="main")
                print(len(result.packages))
      parameters:
        - $ref: '#/components/parameters/Branch'
      responses:
        '200':
          description: Public packages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPackagesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v2/projects/{projectId}/tree:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      operationId: getProjectTree
      tags: [Content]
      summary: Read the object tree
      description: |
        Returns every object in the project as a flat list, with parentage expressed
        by `parent` and `childrenCount`.

        This reads the running project, so it opens it if it is not already open, and
        it shows uncommitted state — which is the state a caller that just wrote
        something is asking about. The storage-backed reads are cheaper but only show
        the last save.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.content.getTree
        python: client.content.get_tree
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { tree } = await client.content.getTree(projectId);
            for (const node of tree) {
              console.log(node.type, node.name);
            }
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.content.get_tree(project_id)
                for node in result.tree:
                    print(node.type, node.name)
      parameters:
        - $ref: '#/components/parameters/Branch'
      responses:
        '200':
          description: The project's objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTree'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ProjectNotRunning'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ProjectNotReady'
  /api/v2/projects/{projectId}/objects:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      operationId: addProjectObjects
      tags: [Content]
      summary: Add objects
      description: |
        Adds objects to the running project, opening it if needed. The write goes
        through the same path an interactive client uses, so parentage, layout, and
        the broadcast to anyone else in the project all happen as normal.

        The objects are in memory once this returns; they are in git only after a
        commit. A response reporting fewer objects than were sent does not happen —
        the request either applies in full or fails.

        Every object is checked against the schema for its `type` before anything
        is written, so one bad object fails the whole request and the project is
        left untouched. Any type the model defines can be written here; the 400
        names what was wrong with each object it refused.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:write]
      x-sdk-methods:
        typescript: client.content.addObjects
        python: client.content.add_objects
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { addedCount } = await client.content.addObjects(projectId, {
              objects: {
                [crypto.randomUUID()]: { type: 'requirement', name: 'Dry mass under 500 kg' },
              },
            });
            console.log(addedCount);
        - lang: python
          label: Python SDK
          source: |
            import os
            import uuid
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.content.add_objects(
                    project_id,
                    objects={str(uuid.uuid4()): {"type": "requirement", "name": "Dry mass under 500 kg"}},
                )
                print(result.added_count)
      parameters:
        - $ref: '#/components/parameters/Branch'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddObjectsRequest'
      responses:
        '201':
          description: Objects added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddObjectsResponse'
        '400':
          description: |
            Nothing was written. `INVALID_OBJECTS` means the `objects` map itself was
            missing, empty, or not a map. `INVALID_OBJECT` means at least one object
            failed its schema: `details.objects` maps each refused id to what is
            wrong with it, and `details.validTypes` lists every writable type when a
            `type` was the problem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ProjectNotRunning'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          description: |
            The project accepted the request but applied none of it. Error code is
            `OBJECTS_NOT_APPLIED`. Nothing was written; the request can be retried.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          $ref: '#/components/responses/ProjectNotReady'
  /api/v2/projects/{projectId}/objects/{objectId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ObjectId'
    get:
      operationId: getProjectObject
      tags: [Content]
      summary: Read an object
      description: |
        Returns one object with its computed values resolved, from the running
        project. Fields vary by object type.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.content.getObject
        python: client.content.get_object
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { object } = await client.content.getObject(projectId, objectId);
            console.log(object.name);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.content.get_object(project_id, object_id)
                print(result.object)
      parameters:
        - $ref: '#/components/parameters/Branch'
      responses:
        '200':
          description: The object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            Project or object not found. Error code is `OBJECT_NOT_FOUND` when the
            project was readable but the object was not in it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          $ref: '#/components/responses/ProjectNotRunning'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ProjectNotReady'
    delete:
      operationId: deleteProjectObject
      tags: [Content]
      summary: Delete an object
      description: |
        Deletes an object from the running project, together with its descendants.
        Parent links, relationships, indexes, and other model references are cleaned
        through the same update path used by the editor.

        The change is uncommitted when this returns. Call `createCommit` to save it
        in git. Deleting a reference object does not delete its stored file bytes,
        because file storage is shared across branches.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:write]
      x-sdk-methods:
        typescript: client.content.deleteObject
        python: client.content.delete_object
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const result = await client.content.deleteObject(projectId, objectId);
            console.log(result.deletedObjectIds);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.content.delete_object(project_id, object_id)
                print(result.deleted_object_ids)
      parameters:
        - $ref: '#/components/parameters/Branch'
      responses:
        '200':
          description: The object and its descendants were deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteObjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Project or object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: The object is protected, locked, or cannot be deleted independently.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ProjectNotReady'
  /api/v2/projects/{projectId}/objects/{objectId}/history:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ObjectId'
    get:
      operationId: getObjectHistory
      tags: [Branches]
      summary: Read an object's commit history
      description: |
        Returns the commits on a branch that changed one object, newest first, each
        with the object's state at that commit and the fields that changed.

        Commits that did not touch the object are omitted, so this is not a slice of
        the project history — it is the object's own.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/projectGit.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.branches.getObjectHistory
        python: client.branches.get_object_history
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { history } = await client.branches.getObjectHistory(projectId, objectId);
            for (const entry of history) {
              console.log(entry.commit.shortHash, entry.changeType);
            }
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.branches.get_object_history(project_id, object_id)
                for entry in result.history:
                    print(entry.commit.short_hash, entry.change_type)
      parameters:
        - $ref: '#/components/parameters/Branch'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: The object's history on this branch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/ProjectNotRunning'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/GitFailed'
        '503':
          $ref: '#/components/responses/ProjectNotReady'
  /api/v2/projects/{projectId}/files:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      operationId: listProjectFiles
      tags: [Projects]
      summary: List attached files
      description: |
        Returns the files attached to a branch from committed branch HEAD. Each
        reference is joined to its `assets.primary` descriptor when present, so the
        listed filename and size describe the immutable SHA-addressed blob. Older
        snapshots without asset metadata retain the legacy files-prefix lookup.

        Read from the branch's saved snapshot rather than from the running project,
        so it works whether or not the project is open — and so a file attached
        since the last save is not listed yet.

        A reference whose bytes are missing from storage is listed with a null
        `size`, because the object exists and omitting it would hide a half-finished
        upload. The reverse does not hold: stored bytes with no reference on this
        branch are not listed, since storage is shared across branches and one
        branch cannot tell an orphan from another branch's file.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.projects.listFiles
        python: client.projects.list_files
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const { files } = await client.projects.listFiles(projectId);
            for (const file of files) {
              console.log(file.filename, file.size ?? 'missing');
            }
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                result = client.projects.list_files(project_id)
                for file in result.files:
                    print(file.filename, file.size)
      parameters:
        - $ref: '#/components/parameters/Branch'
      responses:
        '200':
          description: Files attached to the branch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v2/projects/{projectId}/files/{fileId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/FileId'
    delete:
      operationId: deleteProjectFile
      tags: [Projects]
      summary: Delete an attached file
      description: Removes a file and all of its stored variants from the project.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:write]
      x-sdk-methods:
        typescript: client.projects.deleteFile
        python: client.projects.delete_file
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            await client.projects.deleteFile(projectId, fileId);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                client.projects.delete_file(project_id, file_id)
      responses:
        '204':
          description: File deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Project or file not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/v2/projects/{projectId}/files/{fileId}/content:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/FileId'
    get:
      operationId: downloadProjectFile
      tags: [Projects]
      summary: Download an attached file
      description: |
        Streams the bytes of a referenced file. `fileId` may be a reference object id
        or a stored filename.

        An authenticated caller receives current working bytes when this exact branch
        is already active on a Design Engine. This request never starts a project; if
        no live instance is available it falls back to committed branch HEAD.
        Anonymous access to a public project always reads committed branch HEAD and
        never observes working state. Committed snapshots use the immutable
        `assets.primary.sha256` blob, with a legacy files-prefix fallback for older
        snapshots.
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.projects.downloadFile
        python: client.projects.download_file
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const bytes = await client.projects.downloadFile(projectId, fileId);
            console.log(bytes.byteLength);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                data = client.projects.download_file(project_id, file_id)
                print(len(data))
      parameters:
        - $ref: '#/components/parameters/Branch'
      responses:
        '200':
          description: File bytes.
          headers:
            Content-Type:
              schema:
                type: string
            Content-Disposition:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: File not found. Error code is `REFERENCED_FILE_NOT_FOUND`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v2/projects/{projectId}/sessions:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      operationId: createSession
      tags: [Sessions]
      summary: Open a session and mint a data-plane grant
      description: |
        Loads the project, holds it open, and returns the credential for reaching it
        directly.

        A project unloads shortly after nothing is connected to it, so a session is
        what keeps it resident between your requests. Poll the session (`getSession`)
        to both refresh the grant and signal that you are still working.

        The grant can never exceed the key that minted it. Omit `scopes` to inherit
        the key's own scopes; supply them to narrow the grant further, which is worth
        doing when one job needs less than the key can do.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [sessions:manage]
      x-sdk-methods:
        typescript: client.sessions.create
        python: client.sessions.create
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const session = await client.sessions.create(projectId);
            console.log(session.sessionId, session.dataPlane.url);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                session = client.sessions.create(project_id)
                print(session.session_id, session.data_plane.url)
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '201':
          description: The session, with the grant needed to reach the data plane.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          description: |
            Invalid request. Error code is `INVALID_SCOPES` for an unknown scope name
            or `INVALID_TTL` for a non-positive `ttlSeconds`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: |
            The caller lacks `project:connect` on this project, or asked for scopes
            the key does not hold (`INSUFFICIENT_SCOPES`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: |
            The project could not be opened or its machine is unavailable. Error code
            is `PROJECT_NOT_READY`, `SERVER_NOT_AVAILABLE`, or `GRANT_PUSH_FAILED`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v2/projects/{projectId}/sessions/{sessionId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SessionId'
    get:
      operationId: getSession
      tags: [Sessions]
      summary: Read a session, refresh its grant, and check the agent
      description: |
        Returns the session with a **new** grant and revokes the previous one, so a
        leaked grant stops working at the next poll rather than at its expiry.

        This is also the keepalive, for both clocks that matter: the grant's expiry
        and the machine's idle timer. Call it well before `dataPlane.expiresAt` — the
        SDKs do this for you.

        `agent.status` is how you follow a run started with `sendAgentMessage`. It is
        reported here rather than on a route of its own precisely so that one poll
        keeps the session alive and tells you where the run is. `completed`, `failed`,
        and `paused` are terminal; `paused` is what a `stopAgent` produces. `unknown`
        means the machine could not be reached for this field alone — the grant in the
        same response is still good, so retry rather than recreating the session.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: client.sessions.get
        python: client.sessions.get
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const refreshed = await client.sessions.get(projectId, sessionId);
            console.log(refreshed.dataPlane.expiresAt, refreshed.agent?.status);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                refreshed = client.sessions.get(project_id, session_id)
                print(refreshed.data_plane.expires_at, refreshed.agent.status)
      responses:
        '200':
          description: The session, with a freshly minted grant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            No such session, or it belongs to another user. Error code is
            `SESSION_NOT_FOUND`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: |
            The project this session opened is no longer running. Error code is
            `PROJECT_NOT_RUNNING`; create a new session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      operationId: deleteSession
      tags: [Sessions]
      summary: Close a session
      description: |
        Releases the project and revokes every grant the session issued. Grants stop
        working immediately rather than at expiry, which is the point of closing a
        session rather than letting it lapse.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/project/project.routes.js
      x-required-scopes: [sessions:manage]
      x-sdk-methods:
        typescript: client.sessions.delete
        python: client.sessions.delete
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            await client.sessions.delete(projectId, sessionId);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                client.sessions.delete(project_id, session_id)
      responses:
        '200':
          description: The session was closed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSessionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            No such session, or it belongs to another user. Error code is
            `SESSION_NOT_FOUND`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v2/projects/{projectId}/sessions/{sessionId}/messages:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SessionId'
    post:
      operationId: sendAgentMessage
      tags: [Sessions]
      summary: Send a prompt to the session's agent
      description: |
        Gives the agent something to do. Starts a run if none is going, and adds a turn
        to the conversation if one is.

        This returns as soon as the agent has accepted the prompt, not when it has
        finished — a run takes as long as the work takes. Follow it with `getSession`
        and read `agent.status`, or let the SDK's `waitUntilDone` do that for you.

        Acceptance is not the same as success. A `202` means the agent took the prompt;
        a `409` means it refused, which happens when the run it belonged to has ended.
        Recreate the session in that case rather than retrying the message.

        The agent can change anything in the project and spends credits doing it, which
        is why this needs the `agent:message` scope rather than a project write.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/agent/agent.routes.js
      x-required-scopes: [agent:message]
      x-sdk-methods:
        typescript: session.sendMessage
        python: session.send_message
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            await client.sessions.with(projectId, async (session) => {
              await session.sendMessage('Add a 10mm M3 standoff under each corner of the base plate');

              const final = await session.waitUntilDone();
              console.log(final.status);
            });
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                with client.sessions.create(project_id) as session:
                    session.send_message(
                        "Add a 10mm M3 standoff under each corner of the base plate"
                    )

                    final = session.wait_until_done()
                    print(final.status)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendAgentMessageRequest'
      responses:
        '202':
          description: The agent accepted the prompt. The run is now in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendAgentMessageResponse'
        '400':
          description: |
            Invalid request. Error code is `MISSING_MESSAGE`, `MESSAGE_TOO_LARGE`,
            `INVALID_MESSAGE_ID`, `INVALID_CONTEXT`, `INVALID_PERSONA`,
            `UNKNOWN_PERSONA`, `INVALID_MODEL`, `UNKNOWN_MODEL`,
            `INVALID_MODEL_OPTIONS`, `INVALID_WEB_SEARCH`, `LLM_OPTION_UNKNOWN`,
            or `LLM_OPTION_VALUE_UNAVAILABLE`.

            `UNKNOWN_PERSONA` names a persona the project does not define, and
            carries `details.definedPersonas` — the ids that would have worked. The
            message is refused rather than run under a default persona you did not
            ask for.

            `UNKNOWN_MODEL` names a well-formed model key outside the calling
            account's effective profile and carries `details.availableModels`.

            An invalid model option identifies its model and option key in
            `details.model` and `details.option`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            No such session, it belongs to another user, or it belongs to a different
            project than the one in the path. Error code is `SESSION_NOT_FOUND`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: |
            The agent refused the message (`MESSAGE_REFUSED`), or the project the
            session opened is no longer running (`PROJECT_NOT_RUNNING`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      operationId: listAgentMessages
      tags: [Sessions]
      summary: Read the session's conversation
      description: |
        The transcript: your prompts, the agent's replies and reasoning, and every tool
        it used with the result.

        `source` tells you where the answer came from. `live` is the running agent's own
        copy and is current. `persisted` is the saved copy, which is written when a run
        ends — so it is complete for a finished run but behind for a running one. `none`
        means there is no conversation yet.

        Entries are ordered oldest to newest and `limit` takes the most recent, which is
        usually what you want after a run.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/agent/agent.routes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: session.messages
        python: session.messages
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const session = await client.sessions.get(projectId, sessionId);
            const transcript = await session.messages({ limit: 20 });
            for (const entry of transcript.messages) {
              console.log(entry.role, entry.kind, entry.text);
            }
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                session = client.sessions.resume(project_id, session_id)
                transcript = session.messages(limit=20)
                for entry in transcript.messages:
                    print(entry.role, entry.kind, entry.text)
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
          description: Most recent entries to return.
      responses:
        '200':
          description: The conversation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTranscript'
        '400':
          description: '`limit` is out of range. Error code is `INVALID_LIMIT`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            No such session, it belongs to another user, or it belongs to a different
            project than the one in the path. Error code is `SESSION_NOT_FOUND`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v2/projects/{projectId}/sessions/{sessionId}/stop:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SessionId'
    post:
      operationId: stopAgent
      tags: [Sessions]
      summary: Stop the agent without closing the session
      description: |
        Halts the current run. The session survives, the project stays open, and the
        conversation so far is kept — so you can send a new prompt afterwards without
        starting over. Use `deleteSession` when you actually want to finish.

        Stopping when nothing is running is not an error; `stopped` is `false` and the
        status is whatever it already was. That makes this safe to call defensively,
        for instance when abandoning a run you may or may not have started.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/agent/agent.routes.js
      x-required-scopes: [sessions:manage]
      x-sdk-methods:
        typescript: session.stop
        python: session.stop
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const session = await client.sessions.get(projectId, sessionId);
            const result = await session.stop();
            console.log(result.stopped, result.status);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                session = client.sessions.resume(project_id, session_id)
                result = session.stop()
                print(result.stopped, result.status)
      responses:
        '200':
          description: The run was halted, or there was none to halt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopAgentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            No such session, it belongs to another user, or it belongs to a different
            project than the one in the path. Error code is `SESSION_NOT_FOUND`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: |
            The project this session opened is no longer running. Error code is
            `PROJECT_NOT_RUNNING`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v2/projects/{projectId}/sessions/{sessionId}/tools/invoke:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SessionId'
    post:
      operationId: invokeTool
      tags: [Tools]
      summary: Invoke one of the agent's tools directly
      description: |
        Runs a single tool and returns its result, with no model in the loop. Faster and
        deterministic where the agent is neither, and it spends no LLM credits.

        This needs a session because a tool belongs to one: the tools available are the
        ones the session's project has open, and the tool acts on that project's live
        state.

        A tool that refuses answers `422` with the tool's own message. Permission
        refusals are deliberately indistinguishable from "no such tool" — a key cannot
        use the error to discover what it is not allowed to do.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/agent/agent.routes.js
      x-required-scopes: [projects:write]
      x-sdk-methods:
        typescript: session.invokeTool
        python: session.invoke_tool
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            await client.sessions.with(projectId, async (session) => {
              const result = await session.invokeTool({
                toolbox: 'Core',
                tool: 'ReadObject',
                params: { objectId },
              });
              console.log(result.content.text);
            });
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                with client.sessions.create(project_id) as session:
                    result = session.invoke_tool(
                        toolbox="Core",
                        tool="ReadObject",
                        params={"objectId": object_id},
                    )
                    print(result.content.text)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeToolRequest'
      responses:
        '200':
          description: The tool ran and returned a result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvokeToolResponse'
        '400':
          description: |
            Invalid request. Error code is `MISSING_TOOL_TARGET`, `INVALID_TOOL_TARGET`,
            or `INVALID_PARAMS`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            No such session, it belongs to another user, it belongs to a different
            project than the one in the path (`SESSION_NOT_FOUND`), or no such toolbox
            for this session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: |
            The project this session opened is no longer running. Error code is
            `PROJECT_NOT_RUNNING`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '422':
          description: |
            The tool ran and refused: bad arguments, a precondition it needs, or a
            permission your credential does not hold. Error code is `TOOL_ERROR` and the
            message is the tool's own.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v2/usage:
    get:
      operationId: getUsage
      tags: [Usage]
      summary: What you spent
      description: |
        Credits and tokens charged to your account, optionally narrowed by project,
        session, or time, and optionally broken down by model, project, session, or
        day.

        This reports your own usage. A project you share with collaborators returns
        what *you* spent on it, not the project's total — what someone else spends is
        their financial data, not the project's.

        Reads are eventually consistent with a live run: the engine reports usage on
        an interval, so check `asOf` before treating a total as final.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/usage/usage.routes.js
      x-required-scopes: [usage:read]
      x-sdk-methods:
        typescript: client.usage.get
        python: client.usage.get
      parameters:
        - name: projectId
          in: query
          required: false
          description: Narrow to one project. Accepts the bare id or `{projectId}--{branch}`.
          schema:
            type: string
        - name: sessionId
          in: query
          required: false
          description: Narrow to one session.
          schema:
            type: string
        - $ref: '#/components/parameters/UsageFrom'
        - $ref: '#/components/parameters/UsageTo'
        - $ref: '#/components/parameters/UsageGroupBy'
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const usage = await client.usage.get({ groupBy: 'model' });
            for (const row of usage.groups ?? []) {
              console.log(row.model, row.credits);
            }
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                usage = client.usage.get(group_by="model")
                for row in usage.groups or []:
                    print(row.model, row.credits)
      responses:
        '200':
          description: Usage totals for the scope, and the breakdown if one was asked for.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        '400':
          description: |
            Invalid request. Error code is `INVALID_GROUP_BY` or `INVALID_RANGE`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v2/projects/{projectId}/usage:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      operationId: getProjectUsage
      tags: [Usage]
      summary: What you spent on one project
      description: |
        The same reading as `getUsage`, scoped to one project and authorized against
        it — you must be able to read the project as well as hold `usage:read`.

        Usage is recorded against the bare project id, so this covers every branch of
        the project rather than only the one you name.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/usage/usage.routes.js
      x-required-scopes: [usage:read, projects:read]
      x-sdk-methods:
        typescript: client.usage.forProject
        python: client.usage.for_project
      parameters:
        - $ref: '#/components/parameters/UsageFrom'
        - $ref: '#/components/parameters/UsageTo'
        - $ref: '#/components/parameters/UsageGroupBy'
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const usage = await client.usage.forProject(projectId, { groupBy: 'day' });
            console.log(usage.totals.credits, usage.asOf);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                usage = client.usage.for_project(project_id, group_by="day")
                print(usage.totals.credits, usage.as_of)
      responses:
        '200':
          description: Usage totals for the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        '400':
          description: |
            Invalid request. Error code is `INVALID_GROUP_BY` or `INVALID_RANGE`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v2/projects/{projectId}/sessions/{sessionId}/usage:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SessionId'
    get:
      operationId: getSessionUsage
      tags: [Usage]
      summary: What one session spent
      description: |
        What a single session's agent run cost. This is the granularity to use when
        you want to know the price of a specific piece of work rather than a month of
        it.

        A run still in progress will under-report until its last interval is flushed,
        so read `asOf` — or read this after `waitUntilDone` returns.
      security:
        - ApiKeyBearer: []
      x-routing-server-source: RoutingServer/usage/usage.routes.js
      x-required-scopes: [usage:read, projects:read]
      x-sdk-methods:
        typescript: session.usage
        python: session.usage
      parameters:
        - $ref: '#/components/parameters/UsageFrom'
        - $ref: '#/components/parameters/UsageTo'
        - $ref: '#/components/parameters/UsageGroupBy'
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            await client.sessions.with(projectId, async (session) => {
              await session.sendMessage('Add a mounting bracket');
              await session.waitUntilDone();

              const usage = await session.usage();
              console.log(`That run cost ${usage.totals.credits} credits`);
            });
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                with client.sessions.create(project_id) as session:
                    session.send_message("Add a mounting bracket")
                    session.wait_until_done()

                    usage = session.usage()
                    print(f"That run cost {usage.totals.credits} credits")
      responses:
        '200':
          description: Usage totals for the session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        '400':
          description: |
            Invalid request. Error code is `INVALID_GROUP_BY` or `INVALID_RANGE`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: |
            No such session, it belongs to another user, or it belongs to a different
            project than the one in the path. Error code is `SESSION_NOT_FOUND`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/file/upload/{ownerId}/{userId}/{projectId}/{connectionId}/{parentId}:
    parameters:
      - $ref: '#/components/parameters/DataPlaneOwnerId'
      - $ref: '#/components/parameters/DataPlaneUserId'
      - $ref: '#/components/parameters/DataPlaneProjectId'
      - $ref: '#/components/parameters/ConnectionId'
      - $ref: '#/components/parameters/ParentId'
    post:
      operationId: uploadFile
      tags: [Files]
      summary: Upload a file to a project
      x-plane: data
      description: |
        Sends a file to the machine holding your project and attaches it under
        `parentId` in the parts tree.

        Send this to `dataPlane.url`, not to the control-plane host, with
        `Authorization: Bearer {dataPlane.token}`. Supply the session's own
        `dataPlane.connectionId` as `connectionId`; the upload is applied through the
        session's live connection, so any other value is rejected.

        Bodies up to 2 GB are accepted and streamed rather than buffered.
      security:
        - GrantBearer: []
      x-routing-server-source: DesignEngine/src/api/routes/fileRoutes.js
      x-required-scopes: [projects:write]
      x-sdk-methods:
        typescript: session.upload
        python: session.upload
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { readFile } from 'node:fs/promises';
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const session = await client.sessions.create(projectId);
            const result = await session.upload({
              file: await readFile('housing.step'),
              filename: 'housing.step',
              parentId: rootId,
            });
            console.log(result.fileId);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                session = client.sessions.create(project_id)
                with open("housing.step", "rb") as handle:
                    result = session.upload(handle, filename="housing.step", parent_id=root_id)
                print(result.file_id)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
      responses:
        '200':
          description: The file was stored and attached.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileResponse'
        '401':
          $ref: '#/components/responses/GrantRejected'
        '403':
          description: The grant does not carry `documents:write` on this project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          $ref: '#/components/responses/ProjectMoved'
        '413':
          description: The file exceeds the maximum upload size.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/file/download/{ownerId}/{projectId}/{fileName}:
    parameters:
      - $ref: '#/components/parameters/DataPlaneOwnerId'
      - $ref: '#/components/parameters/DataPlaneProjectId'
      - $ref: '#/components/parameters/FileName'
    get:
      operationId: downloadFileDirect
      tags: [Files]
      summary: Download a file from a project
      x-plane: data
      description: |
        Streams a file from the machine holding your project.

        Send this to `dataPlane.url` with `Authorization: Bearer {dataPlane.token}`.
        Prefer this over the control-plane `downloadProjectFile` for large files: the
        bytes travel directly rather than through the API server, with a 30-minute
        window rather than 15.

        A file belonging to a different project is served only when your project has
        an active include referencing it — the same rule the editor follows.
      security:
        - GrantBearer: []
      x-routing-server-source: DesignEngine/src/api/routes/fileRoutes.js
      x-required-scopes: [projects:read]
      x-sdk-methods:
        typescript: session.download
        python: session.download
      x-codeSamples:
        - lang: typescript
          label: TypeScript SDK
          source: |
            import { DavinciClient } from '@celedon/davinci-sdk';

            const client = new DavinciClient({
              apiKey: process.env.DAVINCI_API_KEY!,
            });

            const session = await client.sessions.create(projectId);
            const bytes = await session.download('housing.step');
            console.log(bytes.byteLength);
        - lang: python
          label: Python SDK
          source: |
            import os
            from davinci_sdk import DavinciClient

            with DavinciClient(api_key=os.environ["DAVINCI_API_KEY"]) as client:
                session = client.sessions.create(project_id)
                data = session.download("housing.step")
                print(len(data))
      responses:
        '200':
          description: File bytes.
          headers:
            Content-Type:
              schema:
                type: string
[...]
